body {
margin: auto;
padding: 0;
width: 1000px;
background-color: #333;
}
#content {
margin: 0;
padding: 20px;
background-color: #DDD;
}
#game {
width: 640px;
height: 480px;
margin: auto;
padding: 0;
background-color: #000;
color: #FFF;
font-weight: bold;
font-family: "Courier New";
font-size: 24px;
text-align: center;
vertical-align: middle;
}

#button {
width: 80px;
height: 40px;
color: #222;
background-color: #DDD;
}
